<ion-view title="Alterar a Senha" id="page8">
  <ion-content padding="true" class="has-header">
    <h2 id="alterarASenha-heading3" style="color:#821723;font-weight:300;">Redefinir a senha</h2>
    <hr class="hr-topoPagina">
    <form id="alterarASenha-form4" class="list">
      <h5 id="alterarASenha-heading4" style="color:#821723;">Insira as informações</h5>
      <label class="item item-input" id="alterarASenha-input7" name="txtSenhaAtual">
        <input type="password" placeholder="Senha Atual">
      </label>
      <label class="item item-input" id="alterarASenha-input8" name="txtNovaSenha">
        <input type="password" placeholder="Nova Senha">
      </label>
      <label class="item item-input" id="alterarASenha-input9" name="txtConfirmaSenha">
        <input type="password" placeholder="Confirmar a nova senha">
      </label>
      <button id="alterarASenha-button6" class="button button-assertive  button-block">Alterar a senha</button>
    </form>
  </ion-content>
</ion-view>