<ion-view title="Buscar Convênios" id="page24">
  <ion-content padding="true" class="has-header">
    <h2 id="buscarConvNios-heading24" style="color:#821723;font-weight:300;">Buscar Convênios</h2>
    <hr class="hr-topoPagina">
    <form id="buscarConvNios-form11" class="list">
      <label class="item item-input" id="buscarConvNios-input13" name="txtNomeConvenio">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="buscarConvNios-select10" name="sctTipoConvenio">
        <span class="input-label">Tipo</span>
        <select>
          <option>Alimentação</option>
          <option>Academias e Atividade física</option>
        </select>
      </label>
      <label class="item item-select" id="buscarConvNios-select12" name="sctCidade">
        <span class="input-label">Cidade</span>
        <select>
          <option>Salvador</option>
          <option>São Paulo</option>
        </select>
      </label>
      <a ui-sref="listaDeConvNios" id="buscarConvNios-button11" class="button button-assertive  button-block">Buscar</a>
      <div class="list">

        <div align="center" class="card">
          <div class="item item-image img-tipo-convenio">
            <img ui-sref="listaDeConvNios" src="http://ampebteste.web2319.uni5.net/sistema/anexos/imagens_tipo_convenio/educacao.png">
          </div>

          <div class="item">
            Educação
          </div>
        </div>

        <div align="center" class="card">
          <div class="item item-image img-tipo-convenio">
            <img src="http://ampebteste.web2319.uni5.net/sistema/anexos/imagens_tipo_convenio/alimentacao.png">

          </div>
          <div align="Center" class="item">
            Alimentação
          </div>
        </div>

      </div>
    </form>
  </ion-content>
</ion-view>