<ion-view title="Buscar Convênios" id="page24">
  <ion-content padding="true" class="has-header">
    <h2 id="buscarConvNios-heading24" style="color:#821723;font-weight:300;">Buscar Convênios</h2>
    <hr class="hr-topoPagina">
    <form id="buscarConvNios-form11" class="list">
      <label class="item item-input" id="buscarConvNios-input13" name="txtNomeConvenio">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="" ng-model="filtro.nmConvenio">
      </label>

       <label class="item item-select" id="buscarConvNios-select12" name="sctCidade">
        <span class="input-label">Cidade</span>
        <select ng-model="filtro.municipio">
          <option value="">Todas</option>
          <option ng-repeat="municipio in municipiosConvenio" value="{{municipio.nmMunicipioConvenio}}">{{municipio.nmMunicipioConvenio}}</option>
        </select>
      </label>

      <label class="item item-select" id="buscarConvNios-select10" name="sctTipoConvenio">
        <span class="input-label">Tipo</span>
        <select ng-model="filtro.tipoConvenio">
          <option value="">Todos</option>
         <option ng-repeat="tipoConvenio in tiposConvenio" value="{{tipoConvenio.id}}">{{tipoConvenio.nmTipoConvenio}}</option>
        </select>
      </label>

     
      <a  ui-sref="listaDeConvNios({idTipoConvenio: filtro.tipoConvenio, nmConvenio: filtro.nmConvenio, nmMunicipio: filtro.municipio})" id="buscarConvNios-button11" class="button button-assertive  button-block">Buscar</a>
      <div class="list">

        <div ng-repeat="tipoConvenio in tiposConvenio" style="display: {{tipoConvenio.display}}" align="center" class="card">
          <div class="item item-image img-tipo-convenio">
            <img ion-img-cache ui-sref="listaDeConvNios({idTipoConvenio: tipoConvenio.id})" ng-src="{{tipoConvenio.dsUrlImagem}}">
          </div>

          <div class="item">
            {{tipoConvenio.nmTipoConvenio}}
          </div>
        </div>        

      </div>
    </form>
  </ion-content>
</ion-view>