<ion-view title="Contatos AMPEB" id="page27">
  <ion-content padding="true" class="has-header">
    <h2 id="contatosAMPEB-heading25" style="color:#821723;font-weight:300;">Contatos AMPEB</h2>
    <hr class="hr-topoPagina">
    <div class="item item-body" id="contatosAMPEB-list-item-container8">
      <ion-list id="contatosAMPEB-list12">
        <ion-item class="item-icon-left dark item-text-wrap" id="contatosAMPEB-list-item23" ng-href="tel:(71) 3320-2300">
          <i class="icon ion-ios-telephone"></i>Geral - (71) 3320-2300</ion-item>
        <ion-item class="item-icon-left dark item-text-wrap" id="contatosAMPEB-list-item24" href="tel:(71) 99245-5184">
          <i class="icon ion-iphone"></i>Geral - (71) 99245-5184</ion-item>
        <ion-item class="item-icon-left dark item-text-wrap" id="contatosAMPEB-list-item26" href="tel:(71) 3320-2312">
          <i class="icon ion-ios-telephone"></i>Serviço Social - (71) 3320-2312</ion-item>
        <ion-item class="item-icon-left dark item-text-wrap" id="contatosAMPEB-list-item27" href="tel:(71) 3377-3509">
          <i class="icon ion-ios-telephone"></i>Sítio São Paulo - (71) 3377-3509</ion-item>
        <ion-item class="item-icon-left dark item-text-wrap" id="contatosAMPEB-list-item28" href="tel:(71) 3320-2323">
          <i class="icon ion-ios-telephone"></i>Reserva/Hospedagem - (71) 3320-2323</ion-item>
        <ion-item class="item-icon-left dark item-text-wrap" id="contatosAMPEB-list-item29" href="mailto:ambep@ampeb.org.br">
          <i class="icon ion-at"></i>E-mail - ambep@ampeb.org.br</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>