<ion-view title="Contato" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="contato-form7" class="list">
      <label class="item item-select" id="contato-select1" name="sctTipoContato">
        <span class="input-label">Tipo de Contato</span>
        <select>
          <option>Celular</option>
          <option>Fixo</option>
        </select>
      </label>
      <ion-toggle toggle-class="toggle-assertive" id="contato-toggle3" name="tglContatoPrincipal">Contato Principal</ion-toggle>
      <ion-toggle toggle-class="toggle-assertive" id="contato-toggle4" name="tglPermiteDivulgar">Permite Divulgar</ion-toggle>
      <label class="item item-input" id="contato-input17" name="txtNumero">
        <span class="input-label">Número</span>
        <input type="tel" placeholder="(00) 0000-0000">
      </label>
      <label class="item item-select" id="contato-select2" name="sctOperadora">
        <span class="input-label">Operadora</span>
        <select>
          <option>Claro</option>
          <option>Não se aplica</option>
          <option>Oi</option>
          <option>Tim</option>
          <option>Vivo</option>
        </select>
      </label>
      <label class="item item-input" id="contato-input18" name="txtObservacao">
        <span class="input-label">Observação</span>
        <input type="text" placeholder="">
      </label>
      <button id="contato-button9" class="button button-assertive  button-block">Salvar</button>
    </form>
  </ion-content>
</ion-view>