<ion-view title="Dados Pessoais" id="page20">
  <ion-content padding="true" class="has-header">
    <form id="dadosPessoais-form12" class="list">
      <label class="item item-input" id="dadosPessoais-input14" name="txtNome">
        <span class="input-label">Nome*</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="dadosPessoais-input15" name="txtCpf">
        <span class="input-label">CPF*</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="dadosPessoais-input10" name="txtRg">
        <span class="input-label">RG*</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="dadosPessoais-input25" name="txtDtNascimento">
        <span class="input-label">Data de Nascimento*</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="dadosPessoais-input11" name="txtMatricula">
        <span class="input-label">Matrícula MP</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="dadosPessoais-input16" name="txtEmailPrincipal">
        <span class="input-label">E-mail principal</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="dadosPessoais-input19" name="txtEmailAlternativo">
        <span class="input-label">E-mail alternativo</span>
        <input type="email" placeholder="">
      </label>
      <button id="dadosPessoais-button12" class="button button-assertive  button-block">Salvar</button>
    </form>
  </ion-content>
</ion-view>