<ion-view title="Dependentes Ativos" id="page28">
  <ion-content padding="true" class="has-header">
    <h2 id="dependentesAtivos-heading31" style="color:#821723;font-weight:300;">Dependentes Ativos</h2>
    <hr class="hr-topoPagina">
    <div class="item item-body" id="dependentesAtivos-list-item-container9">
      <ion-list id="dependentesAtivos-list13">
        <ion-item class="dark  item-text-wrap" id="dependentesAtivos-list-item31">Felipe Gonçalves Costa</ion-item>
        <ion-item class="dark  item-text-wrap" id="dependentesAtivos-list-item35">Mariana Gonçalves Costa</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>