<ion-view title="Endereço" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="endereO-form8" class="list">
      <label class="item item-select" id="endereO-select3" name="sctTipoEndereco">
        <span class="input-label">Tipo de Endereço</span>
        <select>
          <option>Recado</option>
          <option>Residencial</option>
          <option>Trabalho</option>
        </select>
      </label>
      <label class="item item-input" id="endereO-input21" name="txtEnderecoCep">
        <span class="input-label">Endereço - CEP</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="endereO-select5" name="sctEstado">
        <span class="input-label">Estado</span>
        <select>
          <option>Bahia</option>
        </select>
      </label>
      <label class="item item-select" id="endereO-select6" name="sctCidade">
        <span class="input-label">Cidade</span>
        <select>
          <option>Salvador</option>
        </select>
      </label>
      <label class="item item-input" id="endereO-input20" name="txtPontoReferencia">
        <span class="input-label">Ponto de Referência</span>
        <input type="text" placeholder="">
      </label>
      <ion-toggle toggle-class="toggle-assertive" id="endereO-toggle9" name="tglEnderecoPrincipal">Endereço Principal</ion-toggle>
      <button id="endereO-button10" class="button button-assertive  button-block">Salvar</button>
    </form>
  </ion-content>
</ion-view>