<ion-view title="Enquete" id="page22">
  <ion-content padding="true" class="has-header">
    <h2 id="enquete-heading22" style="color:#821723;font-weight:300;">Enquete</h2>
    <hr class="hr-topoPagina">
    <div id="enquete-markdown11" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">Diante das discussões em todo o país a respeito do fim do foro privilegiado, previsto na PEC 470/05 e apensadas, a Ampeb quer saber sua opinião: Você é a favor da extinção do foro privilegiado?</p>
    </div>
    <form id="enquete-form10" class="list">
      <ion-radio id="enquete-radio1">Sim</ion-radio>
      <ion-radio id="enquete-radio2">Não</ion-radio>
      <div id="enquete-button-bar1" class="button-bar">
        <button id="enquete-button18" style="font-size:18px;" class="button button-assertive  button-block">Votar!</button>
        <a ui-sref="resultadoDaEnquete" id="enquete-button19" style="font-size:18px;" class="button button-assertive  button-block">Resultado</a>
      </div>
    </form>
  </ion-content>
</ion-view>