<ion-view title="Lista de Convênios" id="page19">
  <ion-content padding="true" class="has-header">
    <div class="list">

      <div class="card" ng-repeat="convenio in listaConvenios">
        <div align="center" class="item item-text-wrap bg-color-titulo-card">
          <h2>{{convenio.nmConvenio}}</h2>
        </div>

        <div class="item item-body">
          
          <img ion-img-cache class="full-image" ng-src="{{convenio.dsUrlImagem != '' && convenio.dsUrlImagem || 'img/img_not_found.jpg'}}" ui-sref="detalheDoConvNio({id: convenio.id})">

          <p align="center">
            <a ui-sref="detalheDoConvNio({id: convenio.id})">Mais detalhes</a>
          </p>

          <!-- Testa se existe uma data de fim da vingencia para exibir-->
          <p align="center" ng-if="convenio.dtTerminoVigencia === null">{{convenio.dtInicioVigencia}} até (indefinido)</p>
          <p align="center" ng-if="convenio.dtTerminoVigencia !== null">{{convenio.dtInicioVigencia}} até {{(convenio.dtTerminoVigencia)}}</p>


        </div>
        <div align="center" class="item item-text-wrap bg-color-rodape-card">
          <div align="center" class="row">
            <div class="col col-99">
              {{convenio.dsDesconto}}
            </div>
          </div>
           <div ng-if="convenio.urlAnexo != ''" align="center" class="row">
             <div class="col col-99">
              <a ng-click="openBrowserPdfConvenios(convenio.urlAnexo)" class="button button-icon">
              <i class="icon ion-document-text">  Visualizar PDF</i>         
            </a>
            </div>
          </div>
     
        </div>

      </div>
    
    </div>
  </ion-content>
</ion-view>