<ion-view title="Lista de Endereços" id="page12">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h2 id="listaDeEndereOs-heading8" style="color:#821723;font-weight:300;">Endereços</h2>
    <hr class="hr-topoPagina">
    <div class="item item-body" id="listaDeEndereOs-list-item-container3">
      <ion-list id="listaDeEndereOs-list8">
        <ion-item class="item-icon-left item-icon-right dark" id="listaDeEndereOs-list-item12" ui-sref="endereO">
          <i class="icon ion-ios-home"></i>Residencial
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
          <ion-option-button class="button-assertive">Apagar</ion-option-button>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right dark" id="listaDeEndereOs-list-item13" ui-sref="endereO">
          <i class="icon ion-briefcase"></i>Trabalho
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
          <ion-option-button class="button-assertive">Apagar</ion-option-button>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right dark" id="listaDeEndereOs-list-item14" ui-sref="endereO">
          <i class="icon ion-compose"></i>Recado
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
          <ion-option-button class="button-assertive">Apagar</ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>