<ion-view title="Lista de Convênios" id="page19">
  <ion-content padding="true" class="has-header">
    <div class="list">

      <div class="card">
        <div align="center" class="item item-text-wrap bg-color-titulo-card">
          <h2>ACBEU</h2>
        </div>

        <div class="item item-body">
          <img class="full-image" src="http://ampebteste.web2319.uni5.net/homologacao_sistema/anexos/imagens_convenio/img_56e7fa9e294ef.jpg">

          <p align="center">
            <a href="#/detalheConvenio">Mais detalhes</a>
          </p>

          <p>Vigência: 01/11/2015 até (indefinido)</p>


        </div>
        <div align="center" class="item item-text-wrap bg-color-rodape-card">
          Desconto de 35%
        </div>

      </div>
      <div class="card">
        <div align="center" class="item item-text-wrap bg-color-titulo-card">
          <h2>CASA DAS ROSAS</h2>
        </div>

        <div class="item item-body">
          <img class="full-image" src="http://ampebteste.web2319.uni5.net/homologacao_sistema/anexos/imagens_convenio/img_575998e7b6d5c.png">

          <p align="center">
            <a href="#">Mais detalhes</a>
          </p>

          <p>Vigência: 16/05/2016 até (indefinido)</p>


        </div>
        <div align="center" class="item item-text-wrap bg-color-rodape-card">
          11% de desconto
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>