<ion-view title="Lista de Contatos" id="page11">
  <ion-nav-buttons side="right" class="has-header">
    <button ui-sref="contato" class="button button-assertive icon ion-android-add"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h2 id="listaDeContatos-heading7" style="color:#821723;font-weight:300;">Contatos</h2>
    <hr class="hr-topoPagina">
    <div class="item item-body" id="listaDeContatos-list-item-container2">
      <ion-list id="listaDeContatos-list7">
        <ion-item ng-repeat="contato in contatos" class="item-icon-left item-icon-right dark" id="listaDeContatos-list-item6" ui-sref="contato({ id_associados_contatos_telefonicos: contato.id_associados_contatos_telefonicos, id_tipo_contatos_telefonicos: contato.id_tipo_contatos_telefonicos, principal: contato.principal, permitir_divulgar: contato.permitir_divulgar, numero_contato: contato.numero_contato, id_operadora_telefones: contato.id_operadora_telefones, observacao: contato.observacao})">
        
          <i class="icon {{contato.icone_tipo_contato}}"></i>{{contato.descricao_tipo_contato}}{{contato.numero_contato_mascara}}
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
          <ion-option-button class="button-assertive" ng-click="excluirContato(contato.id_associados_contatos_telefonicos)">Excluir</ion-option-button>
        </ion-item>
     
      </ion-list>
    </div>
  </ion-content>
</ion-view>