<ion-view title="Meu Cadastro na AMPEB" id="page9">
  <ion-content padding="true" class="has-header">
    <h2 id="meuCadastroNaAMPEB-heading9" style="color:#821723;font-weight:300;">Informações</h2>
    <hr class="hr-topoPagina">
    <div class="item item-body" id="meuCadastroNaAMPEB-list-item-container4">
      <ion-list id="meuCadastroNaAMPEB-list9">
        <ion-item class="item-icon-left item-icon-right dark" id="meuCadastroNaAMPEB-list-item15" ui-sref="listaDeContatos">
          <i class="icon ion-ios-telephone"></i>Contatos
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right dark" id="meuCadastroNaAMPEB-list-item16" ui-sref="dadosPessoais">
          <i class="icon ion-android-person"></i>Dados Pessoais
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right dark" id="meuCadastroNaAMPEB-list-item30" ui-sref="dependentesAtivos">
          <i class="icon ion-ios-people"></i>Dependentes
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right dark" id="meuCadastroNaAMPEB-list-item18" ui-sref="listaDeEndereOs">
          <i class="icon ion-android-home"></i>Endereços
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>