<ion-view title="Meu Mural" id="page16">
  <ion-content padding="true" class="has-header">
    <h2 id="meuMural-heading14" style="color:#821723;font-weight:300;">Meu Mural</h2>
    <hr class="hr-topoPagina">
    <div class="item item-body" id="meuMural-list-item-container6">
      <ion-list id="meuMural-list11">
        <ion-item class="item-thumbnail-left item-icon-right assertive" id="meuMural-list-item22" ui-sref="mural">
          <img src="img/receita-federal.png">
          <h2assertive>Informe de rendimento 2017
            <p style="white-space:normal;">9 de março de 2017 - 19:09</p>
            <i class="icon ion-ios-arrow-right"></i>
          </h2assertive>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>