<ion-view title="Próximos Eventos" id="page17">
  <ion-content padding="true" class="has-header">
    <h2 id="prXimosEventos-heading18" style="color:#821723;font-weight:300;">Próximos Eventos</h2>
    <hr class="hr-topoPagina">
    <div class="item item-body" id="prXimosEventos-list-item-container7">
      <ion-list id="prXimosEventos-list10">
        <ion-item ng-repeat="evento in listaEventos" class="item-thumbnail-left item-icon-right assertive" id="prXimosEventos-list-item17"
          ui-sref="detalheDoEvento({id: evento.id})">
          <img ion-img-cache ng-src="{{evento.dsUrlImagem != '' && evento.dsUrlImagem || 'img/img_not_found.jpg'}}"  style="height:40%"/>
          <h2assertive>
            <span class="categoria_post">{{evento.dsCategoria}}</span>
            <p style="white-space:normal;">{{evento.dtevento}}</p>
            <p ng-bind-html="evento.dsTitulo" class="titulo_post" style="white-space:normal;"></p>
            <i class="icon ion-ios-arrow-right"></i>
          </h2assertive>
        </ion-item>

      </ion-list>
    </div>
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded" on-infinite="obterMais()" distance="5%"></ion-infinite-scroll>
  </ion-content>
</ion-view>