<ion-view title="Próximos Eventos" id="page17">
  <ion-content padding="true" class="has-header">
    <h2 id="prXimosEventos-heading18" style="color:#821723;font-weight:300;">Próximos Eventos</h2>
    <hr class="hr-topoPagina">
    <div class="item item-body" id="prXimosEventos-list-item-container7">
      <ion-list id="prXimosEventos-list10">
        <ion-item class="item-thumbnail-left item-icon-right assertive" id="prXimosEventos-list-item17" ui-sref="detalheDoEvento">
          <img src="img/TFSMP-135x90.jpg">
          <h2assertive>Em destaque
            <p style="white-space:normal;">Ampeb abre inscrição para o III Torneio NE de Futebol Society do MP</p>
            <i class="icon ion-ios-arrow-right"></i>
          </h2assertive>
        </ion-item>
        <ion-item class="item-thumbnail-left item-icon-right assertive" id="prXimosEventos-list-item19">
          <img src="img/midia-Site-Congresso-Nacional-135x90.png">
          <h2assertive>A Ampeb
            <p style="white-space:normal;">Estão abertas as inscrições para o XXII Congresso Nacional do Ministério Público</p>
            <i class="icon ion-ios-arrow-right"></i>
          </h2assertive>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>