<ion-view title="Resultado da enquete" id="page23">
  <ion-content padding="true" class="has-header">
    <h2 id="resultadoDaEnquete-heading28" style="color:#821723;font-weight:300;">Resultado</h2>
    <hr class="hr-topoPagina">
    <div id="resultadoDaEnquete-markdown13" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">{{enquete[0].pollq_question}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <h4  ng-repeat="resposta in enquete[0].answers" id="resultadoDaEnquete-heading29" style="color:#000000;font-weight:300;">{{resposta.polla_answers}} ({{resposta.polla_percentage}}%, {{resposta.polla_votes}} Votos)</h4>  
  </ion-content>
</ion-view>