<ion-view title="Resultado da enquete" id="page23">
  <ion-content padding="true" class="has-header">
    <h2 id="resultadoDaEnquete-heading28" style="color:#821723;font-weight:300;">Resultado</h2>
    <hr class="hr-topoPagina">
    <div id="resultadoDaEnquete-markdown13" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">Diante das discussões em todo o país a respeito do fim do foro privilegiado, previsto na PEC 470/05 e apensadas, a Ampeb quer saber sua opinião: Você é a favor da extinção do foro privilegiado?</p>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <h4 id="resultadoDaEnquete-heading29" style="color:#000000;font-weight:300;">Sim (0%, 0 Votos)</h4>
    <h4 id="resultadoDaEnquete-heading30" style="color:#000000;font-weight:300;">Não (0%, 0 Votos)</h4>
  </ion-content>
</ion-view>