<ion-view title="Transmissão ao Vivo" id="page25">
  <ion-content padding="true" class="has-header">
    <h4 id="transmissOAoVivo-heading23" style="color:#821723;font-weight:300;text-align:center;">{{titulo}}</h4> 
    <hr class="hr-topoPagina"> 
    <ion-list>
        <div class="card">
          <ion-item>
            <div class="video-container">
              <iframe ng-src="{{url}}" frameborder="0" width="560c" height="315"></iframe>
            </div>
          </ion-item>
        </div>
    </ion-list>
     <hr class="hr-topoPagina"> 
     <a  ng-if="exibirBotao == 'S'" class="button button-full button-assertive" ui-sref="listaPresencaConfirmada({id_evento: idEvento})">
     {{lblBtnPresenca}}
     </a>
    <div align="center" class="row">
      <div class="col col-99">
        {{rodape}}
      </div>
    </div>    
  </ion-content>
</ion-view>