<ion-view title="Carteira Virtual de Associado" id="page5">
  <ion-content padding="true" class="has-header common-bg">
    <div ng-click="flip()" class="flip-container">
      <div class="flipper clearfix">
        <div  class="front  item-text-wrapped">
          <ion-grid>
            <ion-row>
              <!--list of cartaos-->
              <ion-col>
                <div class="carteirinha">
                  <ion-grid>
                    <ion-row class="row">
                      <ion-col class="col col-50">
                        <img src="{{dadosAssociado.foto_associado != '' ? url_sistema_foto+dadosAssociado.foto_associado : 'img/icone_foto.png'}}" style="display: block; width: 80px; height:80px; margin-left: 10%;border-radius: 50%; border: solid 1px #841119;">
                      </ion-col>
                      <ion-col class="col col-50">
                        <img src="img/R08BZblgTDuVWPqcCh2J_logo-ampeb.png" style="display: block; width: 100%; height: 70%; margin-right: 100%;">
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <div class="background">
                    <div class="background-filter">
                      <div class="">
                        <span class="text-black">&nbsp;
                          <strong> Titular: </strong>
                        </span>
                        <span class="text-black" ion-text color="light">{{dadosAssociado.nome_associado}}</span>
                        <div class="clear"></div>
                      </div>
                      <div class="">
                        <span class="text-black">&nbsp;
                          <strong> CPF: </strong>
                        </span>
                        <span class="text-black" ion-text color="light">{{dadosAssociado.cpf}}</span>
                        <div class="clear"></div>
                        <div class="">
                          <span class="text-black">&nbsp;
                            <strong> Data de Nascimento: </strong>
                          </span>
                          <span class="text-black" ion-text color="light">{{dadosAssociado.dt_nascimento}}</span>
                          <div class="clear"></div>
                        </div>                 
                        <div class="">
                          <span class="text-black">&nbsp;
                            <strong> Matricula: </strong>
                          </span>
                          <span class="text-black"  ion-text color="light">{{dadosAssociado.matricula}}</span>
                          <div class="clear"></div>
                        </div>
                        <div class="">
                          <span class="text-black">&nbsp;
                            <strong> Associado desde: </strong>
                          </span>
                          <span class="text-black" ion-text color="light">{{dadosAssociado.data_inscricao}}</span>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="back  item-text-wrapped success">
          <div class="carteirinha" style=" padding-top: 30px;">
            <div align="center">
              <img style="width: 40%; height: 40%;" data-ng-src="{{qrCode}}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="qtdDependentes > 0" align="center" style="padding-top: 70%;" >
        <h3 align="center" style="color:#821723;font-weight:300;">Meus Dependentes</h3>
        <ion-list id="catalogoDeAssociado-list2">
            <ion-item wrap  ng-repeat="dependente in dadosAssociado.dependentes" class="item-avatar item-icon-right item-text-wrap" id="catalogoDeAssociado-list-item11" ui-sref="menu.carteiraVirtualDependentes({dependente: dependente})">
                <img src="{{dependente.foto_dependente != '' ? url_sistema_foto+dependente.foto_dependente : 'img/icone_foto.png'}}">
                <h2>{{dependente.nome_dependente}}</h2>  
                <i class="icon ion-ios-arrow-right"></i>             
            </ion-item>
          </ion-list>       
    </div>
    
  </ion-content>
</ion-view>