<ion-view title="Detalhe do Convênio" id="page26">
  <ion-content padding="true" class="has-header">  
      
    <div ng-repeat="convenio in convenios">
      <div align="center">
        <img ion-img-cache  ng-src="{{convenio.dsUrlImagem != '' && convenio.dsUrlImagem || 'img/img_not_found.jpg'}}" > 
      </div>
    
      <div class="spacer" style="width: 300px; height: 38px;"></div>
      <div class="list">
        <div ng-if="convenio.dsConvenio != ''" class="item item-divider">
          Descrição
        </div>
        <a ng-if="convenio.dsConvenio != ''" class="item item-text-wrap">
          {{convenio.dsConvenio}}
        </a>
        <div ng-if="convenio.dsEndereco != ''" class="item item-divider">
          Endereço
        </div>       
        <a ng-if="convenio.dsEndereco != ''" class="item item-text-wrap">
          {{convenio.dsEndereco}}
        </a>
        <div id="map" class="google-map item">
          <span class="item item-text-wrap" ng-if="!exibirMapa">Não foi possível carregar o mapa, por favor ative os serviços de localização.</span>
        </div>
        <div ng-if="convenio.nmMunicipio != ''" class="item item-divider">
          Local
        </div>
        <a ng-if="convenio.nmMunicipio != ''" class="item item-text-wrap">
         {{convenio.nmMunicipio}} - {{convenio.nmEstado}} - {{convenio.nmPais}} 
        </a>
        <div ng-if="convenio.dsTelefone != ''" class="item item-divider">
          Telefones
        </div>
        <a ng-if="convenio.dsTelefone != ''" class="item item-text-wrap">
           {{convenio.dsTelefone}}
        </a>
        <div ng-if="convenio.nmContato != ''" class="item item-divider">
          Contato
        </div>
        <a ng-if="convenio.nmContato != ''" class="item item-text-wrap">
          {{convenio.nmContato}}
        </a>
        <div ng-if="convenio.urlSite != ''" class="item item-divider">
          Site
        </div>
        <a ng-if="convenio.urlSite != ''" ng-click="openBrowser(convenio.urlSite)" class="item item-text-wrap">
         {{convenio.urlSite}}
        </a>
      </div>
      <h5 ng-if="convenio.dtTerminoVigencia === null" id="detalheDoConvNio-heading17" style="color:#000000;font-weight:600;text-align:center;">{{convenio.dtInicioVigencia}} até (indefinido)</h5>
      <h5 ng-if="convenio.dtTerminoVigencia !== null" id="detalheDoConvNio-heading17" style="color:#000000;font-weight:600;text-align:center;">{{convenio.dtInicioVigencia}} até {{(convenio.dtTerminoVigencia)}}</h5>
      <div align="center" class="item item-text-wrap bg-color-rodape-card">
        <div align="center" class="row">
          <div class="col col-99">
            {{convenio.dsDesconto}}
          </div>
        </div>
        <div ng-if="convenio.urlAnexo != ''" align="center" class="row">
          <div class="col col-99">
            <a ng-click="openBrowserPdfConvenios(convenio.urlAnexo)" class="button button-icon">
              <i class="icon ion-document-text">  Visualizar PDF</i>         
            </a>
          </div>
        </div>   
     
        </div>
        <br>  
     
        <div align="center" style="height: 80px;"  class="item bg-color-campanha">
            <a style="" ui-sref="menu.novidadesConvenios({id: convenio.id})" class="button button-icon">
                <i style="color:white;" class="icon ion-ios-pricetags">&nbsp;Ver Campanhas Promocionais</i>         
              </a>
        </div>
        <br>  
    </div>
  </ion-content>
</ion-view>