<ion-view title="" id="page26">
    <ion-content padding="true" class="has-header">
        <div align="center">
            <img ion-img-cache src="{{novidade[0].dsUrlImagem}}">
        </div>
        <div class="spacer" style="width: 300px; height: 38px;"></div>
        <div class="list">
            <div align="center" class="item item-divider">
                    {{novidade[0].nmConvenio}}
            </div>
            <a  ng-bind-html="trustAsHtml(novidade[0].dsNovidade)" class="item item-text-wrap"></a>
        </div>
        <h5 id="detalheDoConvNio-heading17" style="color:#000000;font-weight:600;text-align:center;">Vigência de {{novidade[0].dtPublicacao}} até {{novidade[0].dtExpiracao}} </h5>
        <div align="center" class="">
            <div ng-if="novidade[0].dsUrlPdf != ''" align="center" class="row bg-color-rodape-card">
                <div  class="col col-99">
                    <a ng-click="abrirPDF(novidade[0].dsUrlPdf)" class="button button-icon">
                        <i class="icon ion-document-text">&nbsp;Visualizar PDF</i>
                    </a>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>