<ion-view title="Aldeia CrossFit" id="page26">
    <ion-content padding="true" class="has-header">
        <div align="center">
            <img ion-img-cache ng-src="http://www.grupognap.com.br/media/images/189/189/595ffd308d0a7b224abdd002a801447dbed0d488fd97a.jpg">
        </div>
        <div class="spacer" style="width: 300px; height: 38px;"></div>
        <div class="list">
            <div class="item item-divider">
                Novidade
            </div>
            <a class="item item-text-wrap">
                Mais uma parceria foi firmada, visando o bem-estar dos associados da Ampeb e seus dependentes. A Aldeia Crossfit está oferecendo
                Desta vez, desconto de 10% de nas mensalidades de crossfit.
            </a>
        </div>
        <h5 id="detalheDoConvNio-heading17" style="color:#000000;font-weight:600;text-align:center;">Vigência de 01/12/2017 até 31/12/2017 </h5>
        <div align="center" class="">
            <div align="center" class="row bg-color-rodape-card">
                <div class="col col-99">
                    <a ng-click="openBrowserPdfConvenios('http://docdro.id/el1OTyY')" class="button button-icon">
                        <i class="icon ion-document-text">Visualizar PDF</i>
                    </a>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>