<ion-view title="Contatos AMPEB" id="page27">
  <ion-content padding="true" class="has-header">
    <h2 id="contatosAMPEB-heading25" style="color:#821723;font-weight:300;">Contatos AMPEB</h2>
    <hr class="hr-topoPagina">
    <div class="item item-body" id="contatosAMPEB-list-item-container8">
      <ion-list id="contatosAMPEB-list12">
        <ion-item ng-repeat="contato in contatos" class="item-icon-left dark item-text-wrap" id="contatosAMPEB-list-item23" ng-href="{{contato.link}}{{contato.descricao_contato}}">
          <i class="icon ion-ios-telephone"></i>{{contato.nome_contato}} - {{contato.descricao_contato}}
        </ion-item>       
      </ion-list>
    </div>
  </ion-content>
</ion-view>