<ion-view title="Aniversariantes do Mês" id="page4">
    <ion-content padding="true" class="has-header">
        <h2 id="meuCadastroNaAMPEB-heading9" style="color:#821723;font-weight:300;">Aniversariantes do Mês</h2>
      <hr class="hr-topoPagina">
      <form id="buscarConvNios-form11" class="list">
        <label class="item item-select" id="buscarConvNios-select12" name="sctCidade">
            <span class="input-label">Mês</span>
            <select>
              <option value="">Janeiro</option>
              <option value="">Fevereiro</option>
              <option value="">Março</option>
              <option value="">Abril</option>
              <option value="">Maio</option>
              <option value="">Junho</option>
              <option value="">Julho</option>
              <option value="">Agosto</option>
              <option value="">Setembro</option>
              <option value="">Outubro</option>
              <option value="">Novembro</option>
              <option value="">Dezembro</option>
            </select>
          </label>
      </form>
      <ion-list id="catalogoDeAssociado-list2">
        <ion-item item-text-wrap class="item-avatar item-icon-right" id="catalogoDeAssociado-list-item11" ui-sref="menu.informacoesAssociado">
            <img src="img/e5XPsC0QTSiCfyOkzlCj_10579983_10206107045251996_6131733555685058502_n.jpg">
            <h2>03/10 - Millen Castro Medeiros de Moura</h2>
            <p style="white-space:normal;">(71) 98109-0642</p>
            <p style="white-space:normal;">millencastro@hotmail.com</p>
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-avatar item-icon-right" id="catalogoDeAssociado-list-item12">
          <img src="img/PgB4lhR9Q6CZPGrphmvt_001.jpg">
          <h2>17/03 - Janina Schuenck Brantes Sacramento</h2>
          <p style="white-space:normal;">(71) 98728-2294</p>
          <p style="white-space:normal;">janinaschuenck@yahoo.com.br</p>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>